@import url('https://p.typekit.net/p.css?s=1&k=ezq3zbz&ht=tk&f=18058.18059.18060.18065.14584.14585.14586.14587.9869.9870.9871.9872.9873.9874.9875.9876.14600.14601.14602.14603.18099.18100.18101.18106.18182.18183.18184.18189.18138.18139.18140.18145.18168.18169.18170.18175.18209.18210.18211.18212.18338.18339.18340.18345.18350.18351.18352.18357.18288.18289.18290.18295.18021.18022.18023.18028.18046.18047.18048.18053.18126.18127.18128.18133.39488.39489.39490.39491.39492.39493.39494.39495.39496.39497.39498.39499.39500.39501.39502.39504.39505.39508.39509&a=55010927&app=typekit&e=css');

.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

* {
	box-sizing: border-box;
}

.home-desktop-1920 {
	align-items: flex-start;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	height: 7725px;
	overflow: hidden;
	position: relative;
	width: 1920px;
}

html {
	font-size: 62.5%;
	line-height: 1.25;
	body {
		font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
			sans-serif;
	}
}

p,
span {
	font-size: 1.4rem;
}

a {
	font-weight: 600;
}
